force-app/main/default/flows/ScanedBarcodeSearchFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SearchProduct</name>
        <label>商品検索</label>
        <locationX>644</locationX>
        <locationY>528</locationY>
        <actionName>ProductSearchService.itemSearch</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>CheckResoonseCode</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SearchError_0_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>appid</name>
            <value>
                <elementReference>$Setup.BarcodeScanSettings__c.AppId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jan_code</name>
            <value>
                <elementReference>$Record.JAN_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>results</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AssignFirstHit_0</name>
        <label>AssignFirstHit</label>
        <locationX>534</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>FirstHit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetFirstLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetFirstLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignResultHits</name>
        <label>検索結果格納</label>
        <locationX>446</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>ResultHits</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchProduct.200.hits</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetFirstLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckAppId</name>
        <label>AppIdの確認</label>
        <locationX>1007</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>SearchError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>ValidAppId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.BarcodeScanSettings__c.AppId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.BarcodeScanSettings__c.AppId__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SearchProduct</targetReference>
            </connector>
            <label>AppIdあり</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckResoonseCode</name>
        <label>検索結果確認</label>
        <locationX>644</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>SearchError_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>ResponseOK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SearchProduct.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignResultHits</targetReference>
            </connector>
            <label>正常応答</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckResultContains</name>
        <label>検索結果有無確認</label>
        <locationX>446</locationX>
        <locationY>1224</locationY>
        <defaultConnector>
            <targetReference>SearchError_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>HasResult</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FirstHit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WriteResult</targetReference>
            </connector>
            <label>検索結果あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckStatus</name>
        <label>状態確認</label>
        <locationX>1320</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>UpdateTarget</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>検索/再検索待ち</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckAppId</targetReference>
            </connector>
            <label>更新対象</label>
        </rules>
    </decisions>
    <interviewLabel>スキャン後商品検索フロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>スキャン後商品検索フロー</label>
    <loops>
        <name>GetFirstLoop</name>
        <label>1件目を取り出す</label>
        <locationX>446</locationX>
        <locationY>888</locationY>
        <collectionReference>ResultHits</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignFirstHit_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckResultContains</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>SearchError</name>
        <label>検索エラー</label>
        <locationX>1370</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>FlowLog__c</field>
            <value>
                <stringValue>AppIdなし</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>見つかりません</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SearchError_0</name>
        <label>検索エラー</label>
        <locationX>842</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>FlowLog__c</field>
            <value>
                <stringValue>レスポンスコード200以外</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>見つかりません</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SearchError_0_0</name>
        <label>検索エラー</label>
        <locationX>578</locationX>
        <locationY>1344</locationY>
        <inputAssignments>
            <field>FlowLog__c</field>
            <value>
                <stringValue>検索結果なし</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>見つかりません</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SearchError_0_0_0</name>
        <label>検索エラー</label>
        <locationX>1106</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>FlowLog__c</field>
            <value>
                <elementReference>SearchProduct.defaultExc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>見つかりません</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>StatusUpdate</name>
        <label>状態更新</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>検索/再検索待ち</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>WriteResult</name>
        <label>検索結果書き込み</label>
        <locationX>314</locationX>
        <locationY>1344</locationY>
        <inputAssignments>
            <field>Description2__c</field>
            <value>
                <elementReference>FirstHit.description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>FirstHit.description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FixedPrice__c</field>
            <value>
                <elementReference>FirstHit.priceLabel.fixedPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HeadLine__c</field>
            <value>
                <elementReference>FirstHit.headLine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MediumImageUrl__c</field>
            <value>
                <elementReference>FirstHit.image.medium</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductName__c</field>
            <value>
                <elementReference>FirstHit.name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductUrl__c</field>
            <value>
                <elementReference>FirstHit.url</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SmallImageUrl__c</field>
            <value>
                <elementReference>FirstHit.image.small</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>正常</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaxIncluded__c</field>
            <value>
                <elementReference>FirstHit.priceLabel.taxable</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>559</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>StatusUpdate</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>JAN_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>JAN_Code__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <object>ScanedResult__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>CheckStatus</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FirstHit</name>
        <apexClass>ExternalService__ProductSearchService_HitsType</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResultHits</name>
        <apexClass>ExternalService__ProductSearchService_HitsType</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
